.background    	{ background: rgb(99, 207, 242);
                  table-layout: fixed;
                  border-spacing: 0;   }
				  
.background td 	{ padding: 0;          }
.lava          	{ background: url("jsp_lava.jpg"); }
.wall1          { background: url("jsp_ground1.jpg");   }
.wall2          { background: url("jsp_ground2.jpg");   }
.spike1			{ background: url("jsp_spike1.jpg"); }
.spike2			{ background: url("jsp_spike2.jpg"); }

.actor	{ position: absolute;  }
.coin	{ background: url("jsp_coin.jpg"); }
.player { background: url("jsp_player.jpg"); }
.restart	{ background: rgb(200, 100, 50); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lostLava .player {
  background: rgb(160, 64, 64);
}

.lostSpike .player {
  opacity: 0.4; );
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
  background: rgb(200, 200, 200);
}
